<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.qurhad"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:label="@string/app_name" android:icon="@drawable/qurhad_logo">

        <activity android:name=".main.Splash"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".main.MainMenu"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".quranSurat.QuranSurat"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".hadistTema.HadistTema"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".catatan.Catatan"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".bookmark.Bookmark"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".main.TentangQurhad"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".quranAyat.QuranAyat"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".hadistRiwayat.HadistRiwayat"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".asmaulHusna.AsmaulHusna"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".Pencarian"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

    </application>
</manifest>
